.profile__user {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 900px) {
    .header__user {
        margin-left: 27px;
    }
}
  
  @media screen and (max-width: 670px) {
    .profile__user {
      flex-direction: column;
      gap: 28px;
    }
  }
  