.profile__button-edit {
    margin: 15px auto;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-image: url('../../../images/edit-button\ w-o\ border.svg');
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    transition: opacity .2s ease-out;
  }
  
  @media screen and (max-width: 900px) {
    .profile__button-edit {
      
    }
  }
  
  @media screen and (max-width: 710px) {
    .profile__button-edit {
      top: 6px;
      right: -30px;
      width: 18px;
      height: 18px;
      background-size: 8px 8px;
    }
  }

@media (hover: hover) {
  .profile__button-edit:hover {
      cursor: pointer;
      opacity: 0.6;
  }
}
  