.profile__button-edit {
    position: absolute;
    right: -40px;
    top: 15px;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-image: url('../../../images/edit-button\ w-o\ border.svg');
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    background-color: transparent;
    cursor: pointer;  
  }
  
  @media screen and (max-width: 900px) {
    .profile__button-edit {
      top: 5px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .profile__button-edit {
      top: 6px;
      right: -30px;
      width: 18px;
      height: 18px;
      background-size: 8px 8px;
    }
  }
  