.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 358px;
    min-height: 27px;
    color: black;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 13px 0 13px 0;
}

.popup__input:focus {
    outline-color: lightgreen;
}
