.profile {
    display: flex;
    max-width: 880px;
    margin: 40px auto 50px;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 900px) {
    .profile {
      max-width: calc(100% - 54px);
    }
  }
  
  @media screen and (max-width: 710px) {
    .profile {
      max-width: 282px;
      margin: 42px auto 0;
      justify-content: center;
      flex-direction: column;
    }
  }