.header {
    margin: 45px auto 0;
    box-sizing: border-box;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media only screen and (max-width: 710px) {
    .header {
        margin: 0;
    }
}
