.elements {
  margin: 0 auto 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 880px;
}


@media only screen and (max-width: 900px) {
    .elements {
        width: calc(100% - 38px);
    }
}

@media only screen and (max-width: 710px) {
    .elements {
        padding-top: 36px;
    }
}  