.popup__container_type_block {
    display: flex;
    flex-direction: column;
    padding: 34px 36px 37px;
    max-width: 430px;
    background: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .popup__container_type_block {
        padding: 25px 22px;
        max-width: 282px;
    }
  }

  @media screen and (max-width: 320px) {
    .popup__container_type_block {
        width: 282px;
    }
  }