.popup__body {
    max-width: 430px;
    background: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .popup__body {
        max-width: 282px;
    }
}